<!DOCTYPE html>
<html lang="vi" data-color-mode="dark" data-dark-theme="dark_dimmed">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YOLOv11 Detection</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@primer/css/dist/primer.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@primer/octicons/dist/build.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <script src="/static/js/script.js"></script>
    <div class="app-header">
      <div class="container-lg d-flex flex-items-center">
        <h1 class="f3 m-0">🔍 YOLOv11 Detection</h1>
      </div>
    </div>

    <div class="container-lg p-responsive py-4">
      <div class="Box mb-4">
        <div class="Box-header d-flex flex-items-center">
          <h3 class="Box-title pr-3">YOLOv11 Detection Tool</h3>
        </div>

        <div class="Box-body">
          <nav class="tabnav-tabs">
            <a
              id="image-tab"
              class="tabnav-tab selected"
              href="#"
              aria-current="page"
            >
              <svg
                class="octicon octicon-image mr-1"
                viewBox="0 0 16 16"
                version="1.1"
                width="16"
                height="16"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.75 2.5a.25.25 0 00-.25.25v10.5c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V2.75a.25.25 0 00-.25-.25H1.75zM0 2.75C0 1.784.784 1 1.75 1h12.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0114.25 15H1.75A1.75 1.75 0 010 13.25V2.75zm10.75 10.5a.75.75 0 000-1.5h-2.5a.75.75 0 000 1.5h2.5zM12 8.75a.75.75 0 01-.75.75h-6.5a.75.75 0 010-1.5h6.5a.75.75 0 01.75.75zm.75-3.75a.75.75 0 000-1.5h-8.5a.75.75 0 000 1.5h8.5z"
                ></path>
              </svg>
              Ảnh
            </a>
            <a id="video-tab" class="tabnav-tab" href="#">
              <svg
                class="octicon octicon-device-camera-video mr-1"
                viewBox="0 0 16 16"
                version="1.1"
                width="16"
                height="16"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M16 3.75a.75.75 0 00-1.136-.643L11 5.425V4.75A1.75 1.75 0 009.25 3h-7.5A1.75 1.75 0 000 4.75v6.5C0 12.216.784 13 1.75 13h7.5A1.75 1.75 0 0011 11.25v-.675l3.864 2.318A.75.75 0 0016 12.25v-8.5zm-5 5.075l3.5 2.1v-5.85l-3.5 2.1v1.65zM9.5 6.75v-2a.25.25 0 00-.25-.25h-7.5a.25.25 0 00-.25.25v6.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-4.5z"
                ></path>
              </svg>
              Video
            </a>
            <a id="camera-tab" class="tabnav-tab" href="#">
              <svg
                class="octicon octicon-device-camera mr-1"
                viewBox="0 0 16 16"
                version="1.1"
                width="16"
                height="16"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M15 3H7c0-.55-.45-1-1-1H2c-.55 0-1 .45-1 1-.55 0-1 .45-1 1v9c0 .55.45 1 1 1h14c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1zM6 5H2V4h4v1zm4.5 7C8.56 12 7 10.44 7 8.5S8.56 5 10.5 5 14 6.56 14 8.5 12.44 12 10.5 12zM13 8.5c0 1.38-1.13 2.5-2.5 2.5S8 9.87 8 8.5 9.13 6 10.5 6 13 7.13 13 8.5z"
                ></path>
              </svg>
              Camera
            </a>
          </nav>
        </div>
      </div>

      <!-- Image Section -->
      <div id="image-section" class="content-pane mb-4">
        <div class="file-header d-flex flex-items-center">
          <div class="flex-1">
            <svg
              class="octicon octicon-file mr-1"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"
              ></path>
            </svg>
            <span class="text-bold">Tải lên ảnh</span>
          </div>
          <div class="file-actions">
            <span class="file-info">Phát hiện đối tượng với YOLOv11</span>
          </div>
        </div>
        <div class="file-content">
          <div class="form-group">
            <div class="form-group-header">
              <label for="image-input">Chọn ảnh để phân tích:</label>
            </div>
            <div class="form-group-body">
              <input
                type="file"
                id="image-input"
                accept="image/*"
                class="form-control"
              />
            </div>
          </div>
          <button id="image-submit" class="btn btn-primary" type="button">
            <svg
              class="octicon octicon-search mr-1"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"
              ></path>
            </svg>
            Phát hiện đối tượng
          </button>
          <span id="image-loading" class="loading-indicator"
            >Đang xử lý...</span
          >
          <div id="image-error" class="error-message"></div>

          <div class="result-container">
            <div class="d-flex flex-items-center mb-2">
              <svg
                class="octicon octicon-eye mr-1"
                viewBox="0 0 16 16"
                version="1.1"
                width="16"
                height="16"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.824.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 010 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.824-.742-3.955-1.715C2.92 9.818 2.09 8.69 1.679 8.068a.119.119 0 010-.136zM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 000 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 000-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2zm0 8a2 2 0 100-4 2 2 0 000 4z"
                ></path>
              </svg>
              <span class="text-bold">Kết quả</span>
            </div>
            <img
              id="output-image"
              src="/placeholder.svg?height=300&width=400"
              alt="Kết quả sẽ hiển thị ở đây"
              class="result-image"
            />
          </div>
        </div>
      </div>

      <!-- Video Section -->
      <div id="video-section" class="content-pane mb-4 d-none">
        <div class="file-header d-flex flex-items-center">
          <div class="flex-1">
            <svg
              class="octicon octicon-file mr-1"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"
              ></path>
            </svg>
            <span class="text-bold">Tải lên video</span>
          </div>
          <div class="file-actions">
            <span class="file-info">Phát hiện đối tượng với YOLOv11</span>
          </div>
        </div>
        <div class="file-content">
          <div class="form-group">
            <div class="form-group-header">
              <label for="video-input">Chọn video để phân tích:</label>
            </div>
            <div class="form-group-body">
              <input
                type="file"
                id="video-input"
                accept="video/*"
                class="form-control"
              />
            </div>
          </div>
          <button id="video-submit" class="btn btn-primary" type="button">
            <svg
              class="octicon octicon-search mr-1"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"
              ></path>
            </svg>
            Phát hiện đối tượng
          </button>
          <span id="video-loading" class="loading-indicator"
            >Đang xử lý...</span
          >
          <div id="video-error" class="error-message"></div>

          <div class="result-container">
            <div class="d-flex flex-items-center mb-2">
              <svg
                class="octicon octicon-eye mr-1"
                viewBox="0 0 16 16"
                version="1.1"
                width="16"
                height="16"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.824.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 010 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.824-.742-3.955-1.715C2.92 9.818 2.09 8.69 1.679 8.068a.119.119 0 010-.136zM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 000 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 000-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2zm0 8a2 2 0 100-4 2 2 0 000 4z"
                ></path>
              </svg>
              <span class="text-bold">Kết quả</span>
            </div>
            <video id="output-video" controls class="result-video"></video>
          </div>
        </div>
      </div>

      <!-- Camera Section -->
      <div id="camera-section" class="content-pane mb-4 d-none">
        <div class="file-header d-flex flex-items-center">
          <div class="flex-1">
            <svg
              class="octicon octicon-file mr-1"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z"
              ></path>
            </svg>
            <span class="text-bold">Sử dụng Camera</span>
          </div>
          <div class="file-actions">
            <span class="file-info">Phát hiện đối tượng với YOLOv11</span>
          </div>
        </div>
        <div class="file-content">
          <div class="mb-3">
            <!-- Placeholder for camera stream -->
            <video
              id="camera-preview"
              autoplay
              muted
              class="camera-preview"
              playsinline
            ></video>
            <!-- Hidden canvas for capturing frames -->
            <canvas id="camera-canvas" style="display: none"></canvas>
          </div>
          <button id="camera-button" class="btn btn-primary" type="button">
            <svg
              class="octicon octicon-device-camera mr-1"
              viewBox="0 0 16 16"
              version="1.1"
              width="16"
              height="16"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M15 3H7c0-.55-.45-1-1-1H2c-.55 0-1 .45-1 1-.55 0-1 .45-1 1v9c0 .55.45 1 1 1h14c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1zM6 5H2V4h4v1zm4.5 7C8.56 12 7 10.44 7 8.5S8.56 5 10.5 5 14 6.56 14 8.5 12.44 12 10.5 12zM13 8.5c0 1.38-1.13 2.5-2.5 2.5S8 9.87 8 8.5 9.13 6 10.5 6 13 7.13 13 8.5z"
              ></path>
            </svg>
            Bắt đầu Camera
          </button>
          <span id="camera-loading" class="loading-indicator"
            >Đang xử lý...</span
          >
          <div id="camera-error" class="error-message"></div>

          <div class="result-container">
            <div class="d-flex flex-items-center mb-2">
              <svg
                class="octicon octicon-eye mr-1"
                viewBox="0 0 16 16"
                version="1.1"
                width="16"
                height="16"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.679 7.932c.412-.621 1.242-1.75 2.366-2.717C5.175 4.242 6.527 3.5 8 3.5c1.473 0 2.824.742 3.955 1.715 1.124.967 1.954 2.096 2.366 2.717a.119.119 0 010 .136c-.412.621-1.242 1.75-2.366 2.717C10.825 11.758 9.473 12.5 8 12.5c-1.473 0-2.824-.742-3.955-1.715C2.92 9.818 2.09 8.69 1.679 8.068a.119.119 0 010-.136zM8 2c-1.981 0-3.67.992-4.933 2.078C1.797 5.169.88 6.423.43 7.1a1.619 1.619 0 000 1.798c.45.678 1.367 1.932 2.637 3.024C4.329 13.008 6.019 14 8 14c1.981 0 3.67-.992 4.933-2.078 1.27-1.091 2.187-2.345 2.637-3.023a1.619 1.619 0 000-1.798c-.45-.678-1.367-1.932-2.637-3.023C11.671 2.992 9.981 2 8 2zm0 8a2 2 0 100-4 2 2 0 000 4z"
                ></path>
              </svg>
              <span class="text-bold">Kết quả</span>
            </div>
            <img
              id="camera-output"
              src="/placeholder.svg?height=300&width=400"
              alt="Kết quả sẽ hiển thị ở đây"
              class="result-image"
            />
          </div>
        </div>
      </div>

      <!-- Footer -->
      <!-- <div
        class="footer container-lg p-responsive py-6 mt-6 f6 border-top color-fg-muted"
        style="border-color: var(--color-border-default) !important"
      >
        <div class="d-flex flex-justify-center">
          <ul class="list-style-none d-flex flex-wrap">
            <li class="mr-3">© 2025 YOLOv11 Detection</li>
            <li class="mr-3">
              <a href="#" class="Link--secondary">Hướng dẫn</a>
            </li>
            <li class="mr-3">
              <a href="#" class="Link--secondary">Liên hệ</a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>

    <!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Get elements
        const imageTab = document.getElementById("image-tab");
        const videoTab = document.getElementById("video-tab");
        const cameraTab = document.getElementById("camera-tab");

        const imageSection = document.getElementById("image-section");
        const videoSection = document.getElementById("video-section");
        const cameraSection = document.getElementById("camera-section");

        const imageInput = document.getElementById("image-input");
        const imageSubmitBtn = document.getElementById("image-submit");
        const outputImage = document.getElementById("output-image");
        const imageLoading = document.getElementById("image-loading");
        const imageError = document.getElementById("image-error");

        const videoInput = document.getElementById("video-input");
        const videoSubmitBtn = document.getElementById("video-submit");
        const outputVideo = document.getElementById("output-video");
        const videoLoading = document.getElementById("video-loading");
        const videoError = document.getElementById("video-error");

        const cameraButton = document.getElementById("camera-button"); // This button will toggle Start/Capture
        const cameraPreview = document.getElementById("camera-preview");
        const cameraCanvas = document.getElementById("camera-canvas");
        const cameraOutput = document.getElementById("camera-output");
        const cameraLoading = document.getElementById("camera-loading");
        const cameraError = document.getElementById("camera-error");

        let cameraStream = null; // To hold the camera stream

        // --- Helper Functions ---
        function showLoading(element) {
          element.classList.add("active");
        }

        function hideLoading(element) {
          element.classList.remove("active");
        }

        function showError(element, message) {
          element.textContent = message;
          element.style.display = "block";
        }

        function hideError(element) {
          element.textContent = "";
          element.style.display = "none";
        }

        function disableButton(button) {
          button.disabled = true;
        }

        function enableButton(button) {
          button.disabled = false;
        }

        // --- Tab Switching Functionality ---
        const tabs = {
          "image-tab": "image-section",
          "video-tab": "video-section",
          "camera-tab": "camera-section",
        };

        Object.keys(tabs).forEach((tabId) => {
          document
            .getElementById(tabId)
            .addEventListener("click", function (e) {
              e.preventDefault();

              // Stop camera when switching tabs
              if (cameraStream) {
                const tracks = cameraStream.getTracks();
                tracks.forEach((track) => track.stop());
                cameraPreview.srcObject = null;
                cameraStream = null;
                cameraButton.textContent = "Bắt đầu Camera"; // Reset button text
                hideLoading(cameraLoading);
                hideError(cameraError);
                enableButton(cameraButton);
              }

              // Hide all sections
              Object.values(tabs).forEach((sectionId) => {
                document.getElementById(sectionId).classList.add("d-none");
              });

              // Remove selected class from all tabs
              Object.keys(tabs).forEach((id) => {
                document.getElementById(id).classList.remove("selected");
                document.getElementById(id).removeAttribute("aria-current");
              });

              // Show selected section and mark tab as selected
              document.getElementById(tabs[tabId]).classList.remove("d-none");
              this.classList.add("selected");
              this.setAttribute("aria-current", "page");

              // Reset previous results and inputs when switching tabs
              imageInput.value = null;
              outputImage.src = "/placeholder.svg?height=300&width=400";
              hideLoading(imageLoading);
              hideError(imageError);
              enableButton(imageSubmitBtn);

              videoInput.value = null;
              outputVideo.src = ""; // Clear video source
              outputVideo.load(); // Reset video player
              hideLoading(videoLoading);
              hideError(videoError);
              enableButton(videoSubmitBtn);

              cameraOutput.src = "/placeholder.svg?height=300&width=400"; // Reset camera output image
            });
        });

        // --- Image Functionality ---

        // Image preview
        imageInput.addEventListener("change", function (e) {
          if (e.target.files && e.target.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
              outputImage.src = e.target.result;
            };
            reader.readAsDataURL(e.target.files[0]);
            hideError(imageError); // Clear error on new file selection
          }
        });

        // Image detection submission
        imageSubmitBtn.addEventListener("click", async function () {
          const file = imageInput.files[0];

          if (!file) {
            alert("Vui lòng chọn một file ảnh.");
            return;
          }

          const formData = new FormData();
          formData.append("image", file); // 'image' must match the key in app.py request.files

          disableButton(imageSubmitBtn);
          showLoading(imageLoading);
          hideError(imageError);
          outputImage.src = "/placeholder.svg?height=300&width=400"; // Clear previous result

          try {
            const response = await fetch("/predict_image", {
              // Endpoint URL
              method: "POST",
              body: formData,
            });

            if (!response.ok) {
              const errorText = await response.text();
              throw new Error(
                `Server error: ${response.status} - ${errorText}`
              );
            }

            const result = await response.json();
            outputImage.src = result.output_path + "?" + new Date().getTime(); // Add timestamp to force refresh
          } catch (error) {
            console.error("Lỗi xử lý ảnh:", error);
            showError(imageError, `Lỗi: ${error.message}`);
            outputImage.src = "/placeholder.svg?height=300&width=400"; // Show placeholder on error
          } finally {
            enableButton(imageSubmitBtn);
            hideLoading(imageLoading);
          }
        });

        // --- Video Functionality ---

        // Video preview
        videoInput.addEventListener("change", function (e) {
          if (e.target.files && e.target.files[0]) {
            outputVideo.src = URL.createObjectURL(e.target.files[0]);
            hideError(videoError); // Clear error on new file selection
          }
        });

        // Video detection submission
        videoSubmitBtn.addEventListener("click", async function () {
          const file = videoInput.files[0];

          if (!file) {
            alert("Vui lòng chọn một file video.");
            return;
          }

          const formData = new FormData();
          formData.append("video", file); // 'video' must match the key in app.py request.files

          disableButton(videoSubmitBtn);
          showLoading(videoLoading);
          hideError(videoError);
          outputVideo.src = ""; // Clear previous video source
          outputVideo.load(); // Reset video player

          try {
            const response = await fetch("/predict_video", {
              // Endpoint URL
              method: "POST",
              body: formData,
            });

            if (!response.ok) {
              const errorText = await response.text();
              throw new Error(
                `Server error: ${response.status} - ${errorText}`
              );
            }

            const result = await response.json();
            // Use the output path provided by the server
            outputVideo.src = result.output_path + "?" + new Date().getTime(); // Add timestamp to force refresh
            outputVideo.load(); // Load the new video source
            outputVideo.play(); // Optionally auto-play
          } catch (error) {
            console.error("Lỗi xử lý video:", error);
            showError(videoError, `Lỗi: ${error.message}`);
            outputVideo.src = ""; // Clear video on error
            outputVideo.load();
          } finally {
            enableButton(videoSubmitBtn);
            hideLoading(videoLoading);
          }
        });

        // --- Camera Functionality ---

        cameraButton.addEventListener("click", async function () {
          hideError(cameraError); // Clear previous error

          if (cameraStream) {
            // Camera is already running, capture a frame and send it
            const context = cameraCanvas.getContext("2d");
            cameraCanvas.width = cameraPreview.videoWidth;
            cameraCanvas.height = cameraPreview.videoHeight;
            context.drawImage(
              cameraPreview,
              0,
              0,
              cameraCanvas.width,
              cameraCanvas.height
            );

            // Convert canvas content to Blob
            cameraCanvas.toBlob(
              async function (blob) {
                if (!blob) {
                  showError(
                    cameraError,
                    "Không thể chụp khung hình từ camera."
                  );
                  return;
                }

                const formData = new FormData();
                formData.append("frame", blob, "camera_frame.jpg"); // 'frame' must match the key in app.py

                disableButton(cameraButton);
                showLoading(cameraLoading);
                cameraOutput.src = "/placeholder.svg?height=300&width=400"; // Clear previous result

                try {
                  const response = await fetch("/predict_camera", {
                    // New endpoint for camera frames
                    method: "POST",
                    body: formData,
                  });

                  if (!response.ok) {
                    const errorText = await response.text();
                    throw new Error(
                      `Server error: ${response.status} - ${errorText}`
                    );
                  }

                  const result = await response.json();
                  cameraOutput.src =
                    result.output_path + "?" + new Date().getTime(); // Add timestamp to force refresh
                } catch (error) {
                  console.error("Lỗi xử lý khung hình camera:", error);
                  showError(cameraError, `Lỗi: ${error.message}`);
                  cameraOutput.src = "/placeholder.svg?height=300&width=400"; // Show placeholder on error
                } finally {
                  enableButton(cameraButton);
                  hideLoading(cameraLoading);
                }
              },
              "image/jpeg",
              0.95
            ); // Convert to JPEG with 95% quality
          } else {
            // Camera is not running, start it
            disableButton(cameraButton);
            showLoading(cameraLoading);
            cameraButton.textContent = "Đang bắt đầu Camera...";
            cameraOutput.src = "/placeholder.svg?height=300&width=400"; // Reset output on start

            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
              try {
                const stream = await navigator.mediaDevices.getUserMedia({
                  video: true,
                });
                cameraPreview.srcObject = stream;
                cameraStream = stream; // Store the stream
                cameraButton.textContent = "Chụp & Phát hiện"; // Change button text

                // Optional: wait for video metadata to load before enabling capture
                cameraPreview.onloadedmetadata = () => {
                  enableButton(cameraButton);
                  hideLoading(cameraLoading);
                };
              } catch (error) {
                console.error("Lỗi truy cập Camera: ", error);
                showError(
                  cameraError,
                  `Lỗi: ${error.name} - ${error.message}. Vui lòng kiểm tra quyền truy cập camera.`
                );
                cameraButton.textContent = "Bắt đầu Camera"; // Reset button text on error
                enableButton(cameraButton); // Re-enable button
                hideLoading(cameraLoading);
              }
            } else {
              showError(
                cameraError,
                "Trình duyệt của bạn không hỗ trợ truy cập camera."
              );
              cameraButton.textContent = "Bắt đầu Camera"; // Reset button text
              enableButton(cameraButton); // Re-enable button
              hideLoading(cameraLoading);
            }
          }
        });

        // Stop camera when the user leaves the page
        window.addEventListener("beforeunload", () => {
          if (cameraStream) {
            const tracks = cameraStream.getTracks();
            tracks.forEach((track) => track.stop());
          }
        });
      });
    </script> -->
  </body>
</html>
